Rails 5 dummy app

<ul>
  <li><%= link_to 'server controller component test', server_controller_component_path %></li>
  <li><%= link_to 'server view component test', server_view_component_path %></li>
  <li><%= link_to 'client test', client_component_path %></li>
  <li><%= link_to 'counter test', client_counter_component_path %></li>
</ul>
